{% extends 'blog/base.html' %}
{% block content %}
<h1>About this company:</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iusto,
  recusandae enim ex aperiam accusamus eligendi atque quisquam consequuntur
  tempore amet explicabo magnam sint consequatur repudiandae inventore
  distinctio ducimus cum?Iste vero laudantium provident facilis quod, libero,
  voluptatem blanditiis dicta excepturi aperiam unde itaque officia, quibusdam
  expedita velit beatae esse eligendi! Tempora distinctio veritatis nihil
  incidunt unde illum sapiente omnis.
</p>
<p>Thanks for cheking it out!</p>
{% endblock %}
